button {
    color:aliceblue;
    background-color: palevioletred;
    padding: 10px;
    margin: 10px;
    border-width: 0px;
}

#turn-result {
    font-weight: bold;
}

#final-result {
    color: red;
    font-weight: bold;
    font-size: large;
};